@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
html{
  background: #616161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}